<section class="section section-light-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Submit your topics for Sessions </h2>
      <h3 class="subtitle is-5 is-muted">We'd love to hear you speak</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form>
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" id="speaker-name" type="text" placeholder="Enter your name">
              </div>
              <div class="column is-6">
                <input class="input is-medium" id="speaker-email" type="email" placeholder="Enter your email address">
              </div>
              <div class="column is-12">
                <textarea class="textarea" id="speaker-description" rows="10" placeholder="Write someting..."></textarea>
              </div>
              <div class="column is-6">
                <input class="input is-medium" id="speaker-ip" type="text" placeholder="For demo only: Enter service IP">
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button id="speaker-submit" class="button cta is-large primary-btn raised is-clear">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>